/* ========= BASE ========== */

.offer__data a {
    text-decoration: none;
}

/* ========= OFFER ========= */
.offer{
    margin-top: 5rem;
}

.offer__container{
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    justify-content: center;
}

.offer__data{
    padding: 4rem 0 4rem 1.5rem;
}

.offer__title{
    font-size: var(--bigger-font-size);
    margin-bottom: .25rem;
}

.offer__description{
    margin-bottom: var(--mb-3);
}

.offer__img{
    width: 153px;
}

/* ============= MEDIA QUERY ============= */

@media screen and (min-width: 576px) {
    .offer__container {
        grid-template-columns: max-content max-content;
    }

    .offer__data {
        text-align: center;
    }

    .offer__title {
        font-size: 3rem;
        font-weight: var(--font-bold);
    }
}